<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Comments</title>
    <link rel="stylesheet" href="/static/index/index.css">
</head>
<body>
    <form action="/" method="POST">
        <input id="commentbutton" type="submit" value="Return Main Page">
    </form>
    <div class="header">
        <h1>My Comments</h1>
    </div>
    <div class="container">
        <h2>Your Comments</h2>
        <hr>
        {{if .}}
        {{range .}}
        <div class="comment">
            <p class="comment-text">{{.UserName}}: {{.Comment}} Votes: {{.LikeCount}}</p>
            <form action="/deletecomment" method="POST">
                <input type="hidden" name="id" value="{{.ID}}">
                <input class="delete-button" type="submit" value="Delete Comment">
            </form>
        </div>
        {{end}}
        {{else}}
        <p>No comments found.</p>
        {{end}}
    </div>
</body>
</html>
